.music{
    display: flex;
    justify-content: center;

    .music-controller{
        display: flex;
        flex-direction: column;
        flex: 0 0 60%;

        .music-controller-bar{
            padding: 8px 0;
            display: flex;
            margin-block: 16px;
            align-items: center;

            .music-bar-time{
                margin: 0 16px;
            }

            .music-bar-content{
                margin: 4PX 0;
                cursor: pointer;
                position: relative;
                height: 2PX;
                flex-grow: 1;
                background-color: #3bc4aa;

                &:hover{
                    height: 4PX;

                    .music-bar-hover-time{
                        opacity: 1;
                    }
                    .music-bar{
                        .music-loaded{
                            height: 4PX;
                        }

                        .music-played{
                            height: 4PX;
                            .music-thumb{
                                transform: scale(1);
                            }
                        }
                    }
                }

                .music-bar-hover-time{
                    opacity: 0;
                    position: absolute;
                    top: -24PX;
                    height: 50PX;
                    width: 40PX;
                    color: red;
                    font-size: 10pt;
                    text-align: center;
                    transition: opacity .1s ease-in-out;
                    pointer-events: none;
                    background: url('https://vidhub.tv/player/img/sign.png') no-repeat center;
                }

                .music-bar-preview{
                    position: absolute;
                    background-color: #fff;
                    pointer-events: none;
                    display: none;
                    background-size: auto 100%;
                }

                .music-bar{
                    .music-loaded{
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        height: 2PX;
                        will-change: width;
                        background: #FFFFFF66;
                        width: 50%;
                    }

                    .music-played{
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        height: 2PX;
                        will-change: width;
                        background: #D6006B;

                        .music-thumb{
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin-top: -7PX;
                            margin-right: -8PX;
                            height: 16PX;
                            width: 16PX;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: all .3s ease-in-out;
                            transform: scale(0);
                            background: unset !important;
                        }
                    }
                }
            }

            .music-bar-range{
                appearance: none;
                width: 100%;
                height: 6px;
                border-radius: 9999px;
                background-color: #afafaf;
                overflow: hidden;

                &::-webkit-slider-thumb{
                    appearance: none;
                    width: 0;
                    height: 0;
                    box-shadow: -9999px 0 0 9999px #0ff;
                }

                [type="range"]{
                    -webkit-appearance: none;
                    appearance: none;
                    outline: 0;
                    background-color: transparent;
                    flex-grow: 1;
                }

                [type="range"]::-webkit-slider-runnable-track{
                    height: 4px;
                    background: #eee;
                }

                [type="range" i]::-webkit-slider-container{
                    height: 16px;
                    overflow: hidden;
                }

                [type="range"]::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    appearance: none;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #f44336;
                    border: 1px solid transparent;
                    margin-top: -6px;
                    border-image: 0 fill / 8 20 8 0 / 0px 0px 0 99vw;
                    border-image-source: linear-gradient(#f44336, #f44336);
                }
            }

            .music-volume{
                position: relative;
                line-height: 1;
                cursor: pointer;
                display: flex;
                opacity: .8;

                &:hover{
                    opacity: 1;
                }

                .music-bar-volume{
                    cursor: pointer;
                    appearance: none;
                    width: 100px;
                    border-radius: 9999px;
                    background-color: #afafaf;
                    overflow: hidden;
                    position: absolute;
                    transform: rotate(270deg) translateX(60px) translateY(42px);
                    bottom: 4px;
                    right: 0;
                    transition: all .2s ease-in-out;

                    &::-webkit-slider-thumb{
                        appearance: none;
                        width: 0;
                        height: 0;
                        box-shadow: -9999px 0 0 9999px #f329d7;
                    }
                }
            }
        }

        .music-play{
            display: flex;
            justify-content: center;
            align-items: center;

            > div{
                margin: 0 16px;

                a{
                    color: unset;
                }
            }
        }
    }

    .music-info{
        margin-left: 96px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }
}
