.music{
    display: flex;

    .music-controller{
        display: flex;
        flex-direction: column;
        flex: 0 0 40%;

        .music-play{
            display: flex;
            justify-content: center;

            >div{
                margin: 0 16px;
            }
        }
    }

    .music-info{
        margin-left: 96px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }
}
