.pvp{
    > h1{
        margin-bottom: 24px;
        font-size: 32px;
        text-align: center;
    }

    .pvp-content{
        margin-block: 24px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(68px, 1fr));
        justify-items: center;

        .pvp-item{
            width: 68px;
            height: 68px;
            cursor: pointer;
            user-select: none;
            border-radius: 10px;
            box-shadow: 0 0 10px #0003;
            transition: all .2s;
            background-size: cover;
            text-align: center;

            &:hover{
                color: #fff;
                transform: scale(.97);

                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-color: #727272cc;
                    border-radius: 10px;
                }

                .title{
                    opacity: 1;
                    transition: opacity .5s;
                }

                .desc{
                    opacity: 1;
                    transition: opacity .5s;
                    transition-delay: .1s;
                }
            }

            .title{
                position: relative;
                z-index: 1;
                padding: 16px 4px 8px;
                margin: 0 auto;
                font-size: 14px;
                font-weight: 700;
                opacity: 0;
            }

            .desc{
                position: relative;
                z-index: 1;
                margin: 0 auto;
                font-size: 12px;
                line-height: 1.5;
                word-wrap: break-word;
                opacity: 0;
            }
        }
    }
}
