.ant-drawer .ant-drawer-body{
    padding: 2rem 1rem;

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        > img{
            width: 120px;
        }

        > span{
            font-weight: 600;
            font-size: 20px;
        }
    }
}
.ant-layout-content{
    background-image: linear-gradient(90deg,rgba(159,219,252,.15) 3%,rgba(0,0,0,0) 3%),linear-gradient(360deg,rgba(159,219,252,.15) 3%,rgba(0,0,0,0) 3%);
    background-size: 20px 20px;
}
