.interview{
    padding: 0 24px;

    h1{
        text-align: center;
        margin: 24px 0;
    }

    .group{
        h3{
            margin: 8px 0;
        }

        .item{
            padding-left: 16px;
        }
    }
}
