.about{
    > h1{
        margin-bottom: 24px;
        font-size: 32px;
        text-align: center;
    }

    .content{
        display: flex;

        .about-card{
            flex: 0 0 70%;
            padding: 16px;

            .box{
                padding: 0 96px;
            }
        }

        .aside{
            flex-grow: 1;
            margin-inline-start: 96px;

            .setting{
                .setting-content{
                    padding: 0 32px 8px;

                    .item{
                        display: flex;
                        align-items: center;

                        &:not(:last-child){
                            margin-bottom: 4px;
                        }

                        > span{
                            margin-right: 8px;
                        }
                    }
                }
            }

            .log{
                margin-top: 16px;

                .log-content{
                    padding: 0 32px 8px;

                    .time{
                        color: #38a9fa
                    }

                    .ip{
                        font-weight: 500;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .about .content .aside{
        margin-inline-start: 48px;
    }
}

@media screen and(max-width: 768px){
    .about .content{
        .about-card{
            flex: 0 0 65%;
        }

        .aside{
            margin-inline-start: 24px;
        }
    }
}
