html, body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #fa3899, #60f5ef);
    border-radius: 4px
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}

@media screen and(max-width: 768px){
    ::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
}
