@font-face{
    font-family: pretty;
    src: url('./assets/fonts/pretty.woff2');
}

@font-face{
    font-family: HarmonyOS_Sans;
    src: url('./assets/fonts/HarmonyOS_Sans.ttf');
}

@font-face{
    font-family: JetBrainsMono;
    src: url('./assets/fonts/JetBrainsMono.woff2');
}

//米凯诗语行楷拼音
@font-face{
    font-family: MK;
    src: url('./assets/fonts/MKshiyuxingkaipinyin.woff2');
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: pretty, HarmonyOS_Sans, JetBrainsMono, MK, serif;
    overflow: hidden;
    --bgImg: url('http://8.133.162.30/static/2735011818121.jpg');
}

#root{
    height: 100%;
    width: 100%;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent var(--bgImg) no-repeat center center;
        z-index: -1;
        background-size: cover;
        filter: blur(4px);
        transition: filter .2s;
        animation: fade-blur-in 1s cubic-bezier(.25, .46, .45, .94) forwards;
        animation-delay: .45s;
    }

    .ant-app{
        height: 100%;
        overflow: auto;
        overscroll-behavior: auto;
        scroll-behavior: smooth;
    }
}

@keyframes fade-blur-in{
    0%{
        filter: blur(20px) brightness(.3);
    }
    100%{
        filter: blur(4px) brightness(1);
    }
}

// a img 标签显示问题
a{
    //display: block;
    //line-height: 0;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #fa3899, #60f5ef);
    border-radius: 4px
}

/*滚动条里面轨道*/
::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}

/**
 * 响应式布局容器固定宽度
 * xs: < 768px
 * sm: >= 768px
 * md: >= 992px
 * lg: >= 1200px
 * xl: >= 1920px
 *
 * 大屏（>=1200px）
 * 中屏（>=992px）
 * 小屏（>=768px）
 */

@media screen and (min-width: 1920px){
    html, body{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1200px){
    html, body{
        font-size: 1rem;
    }
}

@media screen and(max-width: 768px){
    html, body{
        font-size: 0.75rem;
    }
}
